{{!-- Handlebars template for index --}}
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Calls Waiting</h1>
      </div>
      <div class="panel-body">
        <h1>{{current_queue_activity.calls_waiting}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Average Wait Time</h1>
      </div>
      <div class="panel-body">
        <h1>{{toMinutes current_queue_activity.average_wait_time}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Longest Wait Time</h1>
      </div>
      <div class="panel-body">
        <h1>{{toMinutes current_queue_activity.longest_wait_time}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="row hidden">
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading"><h1 class='panel-title'>Available</h1></div>
      <div class="panel-body">
        <h1 class='text-success'>{{available.length}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading"><h1 class='panel-title'>Wrap Up</h1></div>
      <div class="panel-body">
        <h1 class='text-info'>{{wrapUp.length}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading"><h1 class='panel-title'>On Call</h1></div>
      <div class="panel-body">
        <h1 class='text-warning'>{{onCall.length}}</h1>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h1 class='panel-title'>Not Available</h1></div>
      <div class="panel-body">
        <h1 class='text-default'>{{notAvailable.length}}</h1>
      </div>
    </div>
  </div>
</div>
{{bar-chart data=valuesArray}}
